<h1 mat-dialog-title>Регистрация:  </h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Введите имя</mat-label>
        <input type="text" matInput [(ngModel)]='name'>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Введите пароль</mat-label>
        <input type="password" matInput [(ngModel)]='password'>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Подтвердите пароль</mat-label>
        <input type="password" matInput [(ngModel)]='passwordRepate'>
    </mat-form-field>
    
</div>
<div mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)='singIn()'>Зарегестрироваться</button>
  
</div>