<div>
    <ul *ngFor="let item of activePlayers">
      <a routerLink='/player/{{getURLFromName(item.name)}}'>
        <div class="player-card">
          <li>Имя: {{item.name}}</li>
          <li>Команда: {{item.team_name}}</li>
          <li>Игр в сезоне: {{item.games_played}}</li>
          <img src={{getImg(item)}} alt="альтернативный текст">
        </div>
      </a>
    </ul>
  </div>
<mat-paginator [length]="playersList.length" [pageSize]="10" (page)="onPageChanged($event)" ></mat-paginator>
