.player-card{
    border: 1px black dashed ;
}

.like_button{
    color: red;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0px;
    right: 0px;
}

.isLiked{
    background-color: red;
}

.team-logo{
    width: 175px;
    height: 175px;
}
.team li{
    margin-bottom: 10px;
}